@import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');
body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color:#0A2647;
    min-width: 400px;
}


input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ffffff;
    margin-bottom: 4px;
    background-color: #0A2647;
    color: #49FF00;
    font-family: 'Unbounded', cursive;
}


button {
    background: #49FF00;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    font-weight: bold;
    font-family: 'Unbounded', cursive;
    box-shadow:  10px 10px 0 rgb(0, 0, 0),0 17px 50px 0 rgba(0,0,0,0.19);
}

button:hover{
    box-shadow: 0 10px 10px 0 #49FF00,0 17px 50px 0 #49FF00;
}

.btn1{
    background-color: #FF1E1E;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    font-weight: bold;
    font-family: 'Unbounded', cursive;
    box-shadow:  10px 10px 0 rgb(0, 0, 0),0 17px 50px 0 rgba(0,0,0,0.19);
}

.btn1:hover{
    box-shadow: 0 10px 10px 0 #FF1E1E,0 17px 50px 0 #FF1E1E;
}

ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
}

a {
    color: #49FF00;
    font-family: 'Unbounded', cursive;
}

